<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <section class="board_bg">
    <div class="board_container">
        <h3>title</h3>
        <p>content</p>
    </div>
    </section> 
</body>
</html>